.text-input-standard {
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.input-standard {
  background: #F5F4F6 0% 0% no-repeat padding-box;
  border: none;
  float: left;
  border-radius: 5px;
  color: $color-text;
  border: 1px solid #EBEAED;
  font: {
    family: $font;  
    size: 20px;
  }
  letter-spacing: 0.4px;
}

.input-focus-standard {
  outline:none;
  background: #EBEAED;
}

.search{
  @extend .text-input-standard;
  
  input#search{
    width: 403px;
    height: 50px;
    padding-left: 50px;
    @extend .input-standard;
    border: 1px solid #EBEAED;
  }

  .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 12px;
    width: 15px;
    height: 15px;
    z-index: 1;
    color: #B1ADB9;
  }

  input#search:focus, .search input#search:active{
    @extend .input-focus-standard;
  }
}

.input{
  @extend .text-input-standard;

  input {
    width: 95%;
    height: 50px;
    padding-left: 25px;
    @extend .input-standard;
  }

  input:focus, input:active{
    @extend .input-focus-standard;
  }
}

.input-invalid {
  background: #FEEFEE 0% 0% no-repeat padding-box!important;
  border: 1px solid #F95E5A!important;
  color: #F95E5A!important;

  &::placeholder {
    color: #F95E5A!important;
  }
}

.message-error-field {
  display: block;
  font-size: 18px;
  letter-spacing: 0.36px;
  line-height: 24px;
  color: #F95E5A;
  text-align: right;
  margin-top: 5px;
}

.textarea {
  @extend .text-input-standard;

  textarea {
    width: 95%;
    height: 80px;
    padding-left: 25px;
    @extend .input-standard;
    padding-top: 10px;
  }

  textarea:focus, textarea:active{
    @extend .input-focus-standard;
  }
}

button {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font: {
    size: 18px;
    letter-spacing: 0.36px;
  };
  border-radius: 5px;
  outline: none;
}

.primary {
  color: $color-white;
  background: $checkbox 0% 0% no-repeat padding-box;

  &:hover {
    background: #2F55CC 0% 0% no-repeat padding-box;
  }

  &:active {
    background: #244AA8 0% 0% no-repeat padding-box;
  }
}

.primary-success {
  color: $color-white;
  background: #0DCB7D 0% 0% no-repeat padding-box;

  &:hover {
    background: #10B26C 0% 0% no-repeat padding-box;
  }

  &:active {
    background: #0E995D 0% 0% no-repeat padding-box;
  }
}

.outline-danger {
  color: #F95E5A;
  background: #FEEFEE 0% 0% no-repeat padding-box;

  &:hover {
    background: #FCD7D6 0% 0% no-repeat padding-box;
  }

  &:active {
    background: #FCC6C5 0% 0% no-repeat padding-box;
  }
}

/* Customize the label (the container) */
.personalized-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 10px;
}

/* Hide the browser's default checkbox */
.personalized-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 4px;
  height: 15px;
  width: 15px;
  background-color: $background-search;
  border-radius: 3px;
  border: 1px solid $border-checkbox;
}

/* On mouse-over, add a grey background color */
.personalized-checkbox:hover input ~ .checkmark {
  background-color: $hover-checkbox;
}

/* When the checkbox is checked, add a blue background */
.personalized-checkbox input:checked ~ .checkmark {
  background-color: $checkbox;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.personalized-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.personalized-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid $color-white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}