/* Normalize CSS */
@import url('./reset.css');

/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100&display=swap');

/* Variables */
@import 'variables';

/* Standard styles */
@import 'standard';
@import 'forms';
@import 'spinner';

.m-percent {
  margin-top: 5%;
  margin-bottom: 1%;
}

.icon-remove {
  width: 15px;
  height: 15px;
  color: red;
}

.btn-remove {
  cursor: pointer;
}

.modal {
  width: 30%;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  left: 35%;
  box-sizing: border-box;
  padding: 20px 30px 20px 20px;
  color: $color-text;
}

.bg-body {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  left: 0;
  top: 0;
}

.tags {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.vue-tags-input {
  background-color: #F5F4F6!important;
  max-width: 100%!important;
  min-height: 50px;
  .ti-input {
    border-radius: 5px!important;
    border-color: #EBEAED;
    min-height: 50px;

  }
}

.ti-new-tag-input-wrapper input {
  background: transparent;
  font: {
    size: 20px;
  }
  color: $color-text;
  text-transform: lowercase;
}

.ti-tags .ti-tag {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EBEAED;
  color: $color-text;

  .ti-icon-close {
    color: #C7C4CD;
    &::before {
      stroke-width: 2px;
    }
  }
}

.icon-close {
  cursor: pointer;
}

.text-modal {
  color: #8F8A9B;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 26px;
}