$font: 'Source Sans Pro', sans-serif;
$color-text: #170C3A;
$color-white: #fff;
$border-search: #EBEAED;
$background-search: #F5F4F6;
$text-search: #B1ADB9;
$checkbox: #365DF0;
$border-checkbox: #DEDCE1;
$hover-checkbox: #ccc;
$link: #0f74bd;